* {
    font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
    color: white;
}

/* 触发方式: $('.alert').html("errorMsg").addClass('alert-info').show().delay(1500).fadeOut();*/
.alert {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    min-width: 150px;
    margin-left: -100px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.alert-info {
    color: white;
    text-align: center;
    font-family: "Times New Roman", SansSerif, sans-serif;
    background-color: black;
    background-image: linear-gradient(to bottom, gray, black);
    border-color: black;
}