<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="common :: common_css"></div>
</head>
<body style="background-image: linear-gradient(to right, black, gray)">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav th:replace="common :: common_nav"></nav>
            <div th:replace="common :: common_header"></div>
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <form role="form" method="post" th:action="@{/register}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="lonerName">用户名</label><input name="lonerName"
                                                                     type="text"
                                                                     class="form-control"
                                                                     id="lonerName"/>
                        </div>
                        <div class="form-group">
                            <label for="lonerPassword">密码</label><input name="lonerPassword"
                                                                        placeholder="不大于32位"
                                                                        type="password"
                                                                        class="form-control"
                                                                        id="lonerPassword"/>
                        </div>
                        <div class="form-group">
                            <label for="lonerEmail">邮箱</label><input type="email"
                                                                     name="lonerEmail"
                                                                     class="form-control"
                                                                     id="lonerEmail"/>
                        </div>
                        <div class="form-group">
                            <label for="lonerSignature">个性签名</label><input
                                placeholder="不多于30个字段" type="text"
                                name="lonerSignature"
                                class="form-control"
                                id="lonerSignature"/>
                        </div>
                        <div class="form-group">
                            <label for="lonerAvatar">上传头像</label><input name="lonerAvatar"
                                                                        type="file"
                                                                        id="lonerAvatar"/>
                            <p class="help-block">

                            </p>
                        </div>
                        <button type="submit" class="btn btn-default">注册</button>
                    </form>
                </div>
                <div class="col-md-4 column">
                    <div class="jumbotron" style="background: gray">
                        <h2>
                            已经有账号了？
                        </h2>
                        <h2>
                            来登录吧^-^
                        </h2>
                        <p>
                            来这里约个时间一起看电影吧！
                        </p>
                        <p>
                            来这里和志同道合的朋友一起寻找快乐吧！
                        </p>
                        <p>
                            来这里和大家一起分享自己的心情吧！
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" th:href="@{/login}">去登录</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common :: common_script"></div>
</body>
</html>