<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Watch</title>
    <div th:replace="common :: common_css"></div>
</head>
<body style="background: black">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav th:replace="common :: common_nav"></nav>
            <div class="embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls>
                    <source type="video/mp4" th:src="${session.video.getVideoUrl()}">
                </video>
            </div>
            <input id="videoId" th:value="${session.video.getVideoId()}" style="display: none">
            <input id="message-content" type="text" placeholder="写下你的评论吧...."
                   style="background: black; color: white; width: 90%; border-radius: 10px; font-size: 15px">
            <button type="submit" id="message-submit" style="background: black; color: white;
            border-radius: 5px; font-size: 10px; width: 7%">SEND</button>
            <br/><br/>
            <div class="panel panel-default" style="background: black">
                <!-- Default panel contents -->
                <div class="panel-heading" style="background: black; color: white">Comments</div>
                <!-- List group -->
                <ul class="list-group" id="messageList" style="background: black">
                    <li id="newComment" style="display: none"></li>
                    <li th:each="message:${session.messageList}" th:text="'#' + ${message.getCreateTime()} + '#&nbsp[' + ${message.getCreatorName()} + ']:&nbsp&nbsp' +
                    ${message.getContent()}" class="list-group-item" style="background: black"></li>
                </ul>
                <button type="submit" id="message-load" style="background: black; color: white;
            border-radius: 5px; font-size: 10px;">>>>>> LOAD MORE >>>>></button>
                <ul class="list-group" id="more-messageList" style="background: black; display: none">
                    <li th:each="message:${session.moreMessageList}" th:text="'#' + ${message.getCreateTime()} + '#&nbsp[' + ${message.getCreatorName()} + ']:&nbsp&nbsp' +
                    ${message.getContent()}" class="list-group-item" style="background: black;"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="common :: common_script"></div>
</body>
</html>